<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!-- 		비즈니스 컴포넌트 실습 -->
		<context:component-scan base-package="com.springbook.biz"></context:component-scan>
		
		
<!-- 	<bean id="tv" class="polymorphism.SamsungTV" scope="prototype" p:speaker-ref="sony" p:price="2700000" lazy-init="true"> -->
<!-- 		<property name="speaker" ref="apple"></property>  -->
		<!-- setSpeaker(apple) -->
<!-- 		<property name="price" value="2700000"></property>  -->
	<!-- SamsungTV에서 생성자 2개 있는거 가져오시오 -->
	<!-- public SamsungTV(Speaker speaker, int price) {... -->
<!-- 		<constructor-arg index="0" ref="apple"></constructor-arg> -->
		<!-- speaker는 인터페이스. 객체생성 불가능 상속받은 자식꺼로 만들기.. apple과 sony가 상속 받았음 -->
		<!-- ref="apple" apple이라는 객체가 speaker로 들어가는 것  -->
		<!-- Speaker speaker=new AppleSpeaker(); 랑 같은 거임.. -->
<!-- 		<constructor-arg index="1" value="270000"></constructor-arg> -->
<!-- 	</bean> -->
<!-- 	<bean id="sony" class="polymorphism.SonySpeaker"></bean> -->
<!-- 	<bean id="apple" class="polymorphism.AppleSpeaker"></bean> -->
</beans>
